/*##css for myaccount page##*/
.ios, .md {
    
    page-myaccount {
        input.text-input.text-input-md {
            padding-left: 0px;
            font-size: 14px;
            margin-bottom: 1px;
        }
         .scroll {
           height: 100%
         }
    
         #map {
           width: 100%;
           height: 100%;
         }
         ion-icon.icon.icon-md.ion-ios-locate-outline {
            padding: 7px;
        }
       }
    
   }
   page-myaccount {
    .toolbar-title.toolbar-title-md {
        color: rgb(0, 0, 0);
        font-family: inherit;
        margin: 12px;
    }
}
button.sign_btn.disable-hover.button.button-md.button-default.button-default-md.button-round.button-round-md.button-full.button-full-md {
    background-color: rgba(169, 169, 169, 0);
    border: 1px solid #fff;
    margin: 16px 0px 16px 0px;
    padding: 24px 0px;
}
ion-item.item.item-block.item-md.item-input.ng-untouched.ng-dirty.ng-valid.input-has-value.item-input-has-value {
    background-color: rgba(255, 255, 255, 0);
}
ion-item.item.item-block.item-md {
    background-color: rgba(0, 255, 255, 0);
}
ion-item.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-pristine.ng-valid {
    background-color: rgba(127, 255, 212, 0);
}
.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-valid.input-has-focus.item-input-has-focus.ng-dirty {
    background-color: rgba(255, 255, 255, 0);
    }
ion-item.ng-touched {
    background-color: rgba(127, 255, 212, 0);
}
ion-label#lbl-2 {
    color: #fff;
}

ion-label#lbl-3 {
    color: #fff;
}
ion-label#lbl-4 {
    color: #fff;
}
ion-label#lbl-5 {
    color: #fff;
}
ion-item.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-pristine.ng-invalid {
    background-color: rgba(127, 255, 212, 0);
}
.item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-invalid.input-has-value.item-input-has-value.ng-dirty {
    background-color: rgba(127, 255, 212, 0);
    }
.alertstyle {
    color: #ff9c9c;
}
ion-content.signup span.acc {
    color: #dbdfe4;
    font-size: 10px;
    padding: 16px;
}
ion-content{
    background-image: url('../assets/imgs/bg.png');
  //background-color: #000 !important;
 }
 .item.item-block.item-md.item-input.item-label-floating.ng-untouched.ng-invalid.ng-dirty {
    background-color: rgba(245, 245, 220, 0);
    }

ion-icon{
      display: inline-block;
      font-size: 2.3em;
      margin-right: 20px;
  }
  input.text-input.text-input-md{
      margin-top:0px;
      padding-left: 45px;
  }
  img.pimg{
    width: 35%;
    height: 35%;
    border-radius: 50%;
  }
  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }
  ion-icon.icon.icon-md.ion-md-create {
    margin-right: 0px;
}
button.fab.fab-md {
    background-color: rgba(132, 132, 82, 0);
    border: 1px solid;
}
ion-icon.icon.icon-md.ion-ios-camera-outline {
    margin-right: 0px;
}

ion-icon.icon.icon-md.ion-md-checkmark {
    margin-right: 0px;
}
button.signbtn.fab.fab-md {
    position: relative;
    top: -44px;
}

ion-icon.icon.icon-md.ion-md-close {
    margin-right: 0px;
}

#marker {
    height: 38px;
    width: 20px;
   // border: 3px solid blue;
    border-radius: 50%;
    background-image: url(../assets/imgs/location_pin.png);
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
button.map_btn {
    position: absolute;
    background-color: #fff;
    color: #000000;
    bottom: 120px;
    right: 6px;
    border-radius: 50%;
}

ion-icon.icon.icon-md.ion-ios-locate-outline {
    margin-right: 0px;
}

ion-content.map-pin.content.content-md {
    overflow-x: hidden !important;
}

.map-pin .scroll-content {
    padding: 0px !important;
    overflow-y: hidden;
}

ion-content.map-pin.content.content-md {
    background: #ff7f5000 !important;
    height: 50%;
}ion-content.map-pin #marker {
    width: 5% !important;
    margin: 0 auto !important;
    margin-top: -54% !important;
    position: relative !important;
}