<ion-content class="signin" padding center text-center>
  <ion-title color="wht">Forgot Password</ion-title>
  <img src="assets/imgs/logo.png">
  <!-- #####forgotpassword inputs field starts####-->
  <ion-list>
    <form [formGroup]="form1"  (ngSubmit)="forgot()">
       <!-- <div *ngIf="form.errors" class="alertstyle">Please provide username & password</div> -->
      <ion-item>
        <ion-label floating>
          <ion-icon name="ios-contact-outline"></ion-icon> Username</ion-label>
        <ion-input formControlName="username" type="text" [(ngModel)]="userForgotData.username" ></ion-input>
      </ion-item>
      <!-- <div *ngIf="username.touched && username.invalid" class="alertstyle">
        <div *ngIf="username.errors.required">Please provide a username</div>
      </div> -->
      <span center text-center>OR</span>
      <ion-item>
        <ion-label floating>
          <ion-icon name="ios-mail-open-outline"></ion-icon> Email</ion-label>
        <ion-input formControlName="email" type="text" [(ngModel)]="userForgotData.email" ></ion-input>
      </ion-item>
      <!-- <div *ngIf="password.touched && password.invalid" class="alertstyle">
        <div *ngIf="password.errors.required">Please provide a password</div>
      </div> -->
      <button type="submit" class="sign_btn" ion-button  round full>Submit</button>
    
    </form>
  </ion-list>   

</ion-content>