page-setting {
    .setting{
        position: absolute;
        background-color:rgba(22, 25, 27, 0.780392);
        border-radius: 20px;
        bottom: 2%;
        right: 15%;
        left: 15%;
    }
    ion-label {
        color: #dedbdb;
    }
   
}
