<ion-content class="signin" padding center text-center>
    <ion-title color="wht">Reset Password</ion-title>
    <img src="assets/imgs/logo.png">
    <!-- #####forgotpassword inputs field starts####-->
    <ion-list>
      <form [formGroup]="form2"  (ngSubmit)="reset()">
         <!-- <div *ngIf="form.errors" class="alertstyle">Please provide username & password</div> -->
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock"></ion-icon> Password</ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="userResetData.password" ></ion-input>
        </ion-item>
        <!-- <div *ngIf="username.touched && username.invalid" class="alertstyle">
          <div *ngIf="username.errors.required">Please provide a username</div>
        </div> -->
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock"></ion-icon> Confirm Password</ion-label>
            <ion-input formControlName="cpassword" type="password" [(ngModel)]="userResetData.cpassword" ></ion-input>
        </ion-item>
        <!-- <div *ngIf="password.touched && password.invalid" class="alertstyle">
          <div *ngIf="password.errors.required">Please provide a password</div>
        </div> -->
        <button type="submit" class="sign_btn" ion-button  round full>Reset Password</button>
      
      </form>
    </ion-list>   
  
  </ion-content>